body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: linear-gradient(315deg, #000000, #ffffff);
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
  }

  .grid {
	display: grid;
	grid-template-rows: repeat(15, 1fr);
	grid-template-columns: repeat(20, 1fr);
	gap: 1px;
	border: 2px solid #282828;
	box-shadow: 0 0 100px rgba(255, 4, 4, 0.5);
	background: rgba(0, 0, 0, 0.3); 	
	backdrop-filter: blur(10px);
	padding: 10px;
  }


  /* Media Queries for different screen sizes */
@media (max-width: 768px) {
	.grid {
	  grid-template-rows: repeat(15, 3fr); /* Adjusting row height for smaller screens */
	  grid-template-columns: repeat(20, 3fr); /* Adjusting column width for smaller screens */
	}
  }


  @media (max-width: 480px) {
	.grid {
	  grid-template-rows: repeat(15, 5fr); /* Further adjustment for very small screens */
	  grid-template-columns: repeat(20, 5fr); /* Further adjustment for very small screens */
	}
  }
  

  